<div class="modal fade" ng-controller="modalIssueStockAddController as $ctrl">
        <div class="modal-dialog" style="left: 0%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" ng-model="modalTitle" >{{$ctrl.modalTitle}}</h4>
                </div>
                <form name="validate">
                    <div class="modal-body">
                        
                        <label for="tag1">Condition:</label><input ng-maxlength="50" name="condition" type="text" ng-model="$ctrl.condition" data-role="tagsinput" id="tag1" class="form-control" required>
                        <div style="color:#e74c3c" role="alert">
                            <span class="error" ng-show="validate.condition.$error.required">Condition required</span>
                        </div>
                    
                        <label>Available Quantity:</label><input type="number" value="0" name="availableQty" ng-model="$ctrl.availableQty" data-role="tagsinput" id="tag2" class="form-control" min="0" required>
                        <div ng-messages="validate.availableQty.$error" style="color:#e74c3c" role="alert">
                            <div ng-if="validate.availableQty.$error.required" ng-message="required">Quantity required</div>
                        </div>
                        <div ng-messages="validate.availableQty.$error" style="color: #e74c3c" role="alert">
                            <div ng-if="validate.availableQty.$error" ng-message="min">Available quantity cannot be negative</div>
                        </div>

                        <label>Price:</label><input name="price" type="number" step="0.01" ng-model="$ctrl.price" data-role="tagsinput" id="tag3" class="form-control" ng-min="0.05" required>

                        <div ng-messages="validate.price.$error" style="color:#e74c3c" role="alert">
                            <div ng-if="validate.price.$error.required" ng-message="required">Price required</div>
                        </div>
                        <div ng-messages="validate.price.$error" style="color:#e74c3c" role="alert">
                            <div ng-if="!validate.price.$error.required &amp;&amp;validate.price.$error.number" ng-message="number">Price must be number</div>
                        </div>
                        <div ng-messages="validate.price.$error" style="color:#e74c3c" role="alert">
                            <div ng-if="!validate.price.$error.required &amp;&amp; !validate.price.$error.number &amp;&amp; validate.price.$error.min" ng-message="min">Price must be larger than R 0.05</div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" ng-click="$ctrl.submit(validate.$valid)" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
</div>
