<div class="brand clearfix">
    <a href="#!/" class="logo"><img src="/app/assets/img/logo.jpg" class="img-responsive" alt=""></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <ul class="ts-profile-nav"></ul>
</div>
<div class="ts-main-content" ng-controller="orderIssueController as $ctrl">
    <nav class="ts-sidebar">
        <ul class="ts-sidebar-menu">
            <li class="ts-label">Home</li>


            <li> <a href="#!/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="ts-label">Management</li>
            <li>
                <a href="#!/supplier"><i class="fa fa-users"></i>Suppliers</a>
            </li>
            <li><a href="#!/voucher"><i class="fa fa-ticket"></i>Vouchers</a></li>
            <li class="open"><a href="#!/order"><i class="fa fa-edit"></i>Orders</a></li>
            <li><a href="#!/issue"><i class="fa fa-book"></i>Issues</a></li>
            <li><a href="#!/creator"><i class="fa fa-user"></i>Creators</a></li>
            <li><a href="#!/stock"><i class="fa fa-tasks"></i>Stocks</a></li>
            <li class="ts-label">Ordering</li>
            <li><a href="#!/placeOrder"><i class="fa fa-truck"></i>Place Order</a></li>


            <!-- Account from above -->
            <ul class="ts-profile-nav">
                <li><a href="#">Help</a></li>
                <li><a href="#">Settings</a></li>
                <li class="ts-account">
                    <a href="#"><img src="app/assets/img/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Account <i class="fa fa-angle-down hidden-side"></i></a>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Edit Account</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Order Summary</h2>
                        </div>
                        <div class="col-sm-8 text-right" style="margin-top: 20px;">
                            <!--<button class="btn btn-primary" ng-click="$ctrl.show()">Add an Issue to Creator</button>-->
                        </div>

                    </div>
                    <hr />



                    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="color:white">Order Details</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong><p>Order Date</p></strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>{{$ctrl.order.OrderDate | date:'yyyy-MM-dd'}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong><p>Order Total</p></strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>R {{$ctrl.order.Total | number:2}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong><p>Supplier</p></strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>{{$ctrl.order.Supplier.Name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary" color='#2c3136'>
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="color:white">Shipping Details</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong><p>Shipment Reference</p></strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>{{$ctrl.order.ShipmentRef}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong><p>Shipment Date</p></strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>{{$ctrl.order.ShipmentDate | date:'yyyy-MM-dd'}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong><p>Delivery Status</p></strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>{{$ctrl.order.DeliveryStatus}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="color:white">Issue Details</h3>
                        </div>
                        <div class="panel-body">
                            <table id="table" datatable="ng" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">

                                <div class="row">
                                    <!--<div class="col-sm-4">
                                    <label for="mySelect">
                                        Show
                                        <select name="mySelect" id="mySelect"
                                                class="form-control input-sm"
                                                ng-click="$ctrl.updateTable()"
                                                ng-options="option for option in $ctrl.pagination.pageSizeOptions track by option"
                                                ng-model="$ctrl.pagination.pageSize"></select>
                                    </label>-->
                                </div>

                                <!--<div class="col-sm-4">
                                    <div class="text-center">
                                        <ul class="pagination" ng-model="$ctrl.page">
                                            <li ng-class="$ctrl.pagination.prevDisable" ng-click="$ctrl.pageTo(($ctrl.pagination.page > 1) ? ($ctrl.pagination.page - 1) : $ctrl.pagination.page)">
                                                <a><i class="fa fa-angle-left "></i></a>
                                            </li>
                                            <li ng-repeat="n in $ctrl.pagination.pageOptions track by $index" ng-click="$ctrl.pageTo(n)" class="{{(n==$ctrl.pagination.page) ? 'waves-effect active': 'waves-effect'}}">
                                                <a>{{n}}</a>
                                            </li>
                                            <li ng-class="$ctrl.pagination.nextDisable" ng-click="$ctrl.pageTo(($ctrl.pagination.page < $ctrl.pagination.numPages) ? ($ctrl.pagination.page + 1) : $ctrl.pagination.page)">
                                                <a><i class="fa fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->
                                <div class="col-sm-4 text-right">
                                    <!--<label class="text-left">
                                        Search:<input type="search" ng-model="$ctrl.search" ng-change="$ctrl.updateTable()" class="form-control input-sm" placeholder="" aria-controls="zctb">
                                    </label>-->

                                </div>


                                <thead>
                                <tr>
                                    <th>Issue Title</th>
                                    <th>Series Number</th>
                                    <th>Price (incl. VAT)</th>
                                    <th>Quantity Ordered</th>
                                    <th>New Stock Quantity</th>
                                    <!--<th>Edit</th>-->
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="issue in $ctrl.issues">
                                    <td>{{issue.Issue.Title}}</td>
                                    <td>{{issue.Issue.SeriesNumber}}</td>
                                    <td>R {{issue.SupplierQuote.Price | number:2}}</td>
                                    <td>{{issue.QuantityOrdered}}</td>
                                    <td>{{issue.Issue.Stock[0].AvailableQuantity}}</td>

                                    <!--<td>{{issue.Role}}</td>-->
                                    <!--    <td><a style="cursor: pointer" ng-click='$ctrl.edit(issue.Id)' style="cursor: pointer;"><i class="fa fa-pencil"/></a></td>-->

                                </tr>
                                 
                                </tbody>
                               
                            </table>
                            <div class="row">
                                <div class="col-sm-7"></div>
                                <div class="col-sm-5">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Projected Profit (excl. overheads)</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <strong><p>Projected Profit</p></strong>
                                                </div>
                                                <div class="col-xs-6">
                                                    <strong><p>R {{$ctrl.profit | number:2}}</p></strong>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
              
        </div>

    </div>


