<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../../css/checkout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Order Confirmation</title>
</head>
<body>
<!-- Fixed navbar -->
<div id="nav-content"></div>

<!-- Body content -->
<div class="container">
    <h1 id="orderConfirmation">Your order has been succefully completed.</h1>
    <h3 id="orderNumber"></h3>
    <p id="orderDetails">
        A copy of the your order invoice along with the order number will be emailed to you shortly.
    <br>
        Thanks you for shopping with us :)
    </p>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
            <a id="homePageBtn" href="index-old.html" class="btn btn-primary" type="button">Home Page</a>
            </div>
        </div>
    </div>
</div>

<!-- Footer content -->
<div id="footer-content"></div>
</body>
</html>