<div class="brand clearfix" >
    <a href="#!/" class="logo"><img src="/app/assets/img/logo.jpg" class="img-responsive" alt=""></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <ul class="ts-profile-nav">
        
       
    </ul>
</div>
<div class="ts-main-content" ng-controller ="voucherController as $ctrl">
    <nav class="ts-sidebar">
        <ul class="ts-sidebar-menu">
            <li class="ts-label">Home</li>
            <li> <a href="#!/"><i class="fa fa-dashboard"></i>Dashboard</a></li>    
            <li class="ts-label">Management</li>
            <li >
                <a href="#!/supplier"><i class="fa fa-users"></i>Suppliers</a>
            </li>
            <li class="open"> <a  href="#!/voucher"><i class="fa fa-ticket"></i>Vouchers</a></li>
            <li><a href="#!/order"><i class="fa fa-edit"></i>Orders</a></li>
            <li><a href="#!/issue"><i class="fa fa-book"></i>Issues</a></li>
            <li><a href="#!/creator"><i class="fa fa-user"></i>Creators</a></li>
            <li><a href="#!/stock"><i class="fa fa-tasks"></i>Stock</a></li>
            <li class="ts-label">Ordering</li>
            <li><a href="#!/placeOrder"><i class="fa fa-truck"></i>Place Order</a></li>
 
            <!-- Account from above -->
            <ul class="ts-profile-nav">
          
                <li class="ts-account">
                    <a href="#"><img src="app/assets/img/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Admin <i class="fa fa-angle-down hidden-side"></i></a>
   
                </li>
            </ul>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                   
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>{{$ctrl.message}}</h2>
                        </div>
                        <div class="col-sm-8 text-right" style="margin-top: 20px;">
                            <button class="btn btn-primary" ng-click="$ctrl.show()">Add a Voucher</button>
                       </div>
                      
                    </div>
                    <hr />
                 
                   
                    <div class="panel panel-default">
                        <div class="panel-heading">Vouchers</div>
                        <div class="panel-body">
                            <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

                            <table id="table" datatable="ng" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="mySelect">
                                            Show
                                            <select name="mySelect" id="mySelect"
                                                    class="form-control input-sm"
                                                    ng-click="$ctrl.updateTable()"
                                                    ng-options="option for option in $ctrl.pagination.pageSizeOptions track by option"
                                                    ng-model="$ctrl.pagination.pageSize"></select>
                                        </label>
                                    </div>

                                    <div class="col-sm-4 text-center">
                                                <pagination pagination="$ctrl.pagination" callback="$ctrl.pageTo(page)"></pagination>
                                    </div>
                                    <div class="col-sm-4 text-right">

                                    </div>

                                </div>
                                <thead>
                                <tr>
                                    <th>Voucher Code</th>
                                    <th>Redeem Date</th>
                                    <th>Voucher Value</th>
                                    <th>Deactivate</th>
                                </tr>
                                </thead>
                                <tbody >

                                <tr ng-repeat="voucher in $ctrl.vouchers">
                                    <td>{{voucher.Code}}</td>
                                    <td>{{voucher.RedeemDate | date:'yyyy-MM-dd'}}</td>
                                    <td>R {{voucher.Value | number:2}}</td>
                                    <td><a style="cursor: pointer" ng-click='$ctrl.deactivate(voucher.Id)' style="cursor: pointer;"><i class="fa fa-trash"/></a></td>

                                </tr>
                                </tbody>

                            </table>
                            <div class="col-sm-12 text-center">
                                <div class="text-center">
                           
                                        <pagination pagination="$ctrl.pagination" callback="$ctrl.pageTo(page)"></pagination>
                              
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                        
                    </div>

                </div>
            </div>


        </div>
