<style>
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #428bca;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }


/* Tooltip text */
#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


    .bs-hover{
        margin: 150px 50px;
    }


 

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes rotating {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .spinner {
        animation: rotating 2s linear infinite;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>


<div class="brand clearfix">
    <a href="#!/" class="logo"><img src="/app/assets/img/logo.jpg" class="img-responsive" alt=""></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <ul class="ts-profile-nav">

    </ul>
</div>
<div class="ts-main-content" ng-controller="placeOrderController as $ctrl">
    <nav class="ts-sidebar">
        <ul class="ts-sidebar-menu">
            <li class="ts-label">Home</li>

            <li> <a href="#!/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="ts-label">Management</li>

            <li>
                <a href="#!/supplier"><i class="fa fa-users"></i>Suppliers</a>
            </li>
            <li><a href="#!/voucher"><i class="fa fa-ticket"></i>Vouchers</a></li>
            <li><a href="#!/order"><i class="fa fa-edit"></i>Orders</a></li>
            <li><a href="#!/issue"><i class="fa fa-book"></i>Issues</a></li>
            <li ><a href="#!/creator"><i class="fa fa-user"></i>Creators</a></li>
            <li><a href="#!/stock"><i class="fa fa-tasks"></i>Stock</a></li>
            <li class="ts-label">Ordering</li>
            <li class="open"><a href="#!/placeOrder"><i class="fa fa-truck"></i>Place Order</a></li>


            <!-- Account from above -->
            <ul class="ts-profile-nav">
           
            </ul>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-sm-4">
                            <h2>{{$ctrl.message}}</h2>
                        </div>
                      

                    </div>
                    <hr />


                    <div class="panel panel-default">
                        <div class="panel-heading">Your order</div>
                        <div class="panel-body">

                            <table class="container" cellspacing="0" width="100%">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="suppliersSelect">
                                            Select a Supplier to order from:
                                            <select name="suppliersSelect" id="suppliersSelect"
                                                    class="form-control input-sm"
                                                    ng-change="$ctrl.clearOrderAndUpdateQuote()"
                                                    ng-options="option.Name for option in $ctrl.suppliers track by option.Id"
                                                    ng-model="$ctrl.order.Supplier"></select>
                                        </label>
                                    </div>
                                </div>
                                <table ng-if="$ctrl.order.IssueOrders.length > 0" id="table" datatable="ng" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Series #</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="issueOrders in $ctrl.order.IssueOrders">
                                            <td>{{issueOrders.Issue.Title}}</td>
                                            <td>{{issueOrders.Issue.SeriesNumber}}</td>
                                            <td>R {{issueOrders.SupplierQuote.Price |number:2}}</td>
                                            <td>
                                                <a ng-click="$ctrl.increaseQty(issueOrders)" style="cursor: pointer" style="cursor: pointer;">
                                                    <i class="fa fa-chevron-up" />
                                                </a>
                                                <input class="form-horizontal form-inline" style="width:35px" type="number" ng-change="$ctrl.validateQty(issueOrders)" ng-model="issueOrders.QuantityOrdered"></input>
                                                <a ng-click="$ctrl.decreaseQty(issueOrders)" style="cursor: pointer" style="cursor: pointer;">
                                                    <i class="fa fa-chevron-down" />
                                                </a>
                                            </td>
                                            <td>
                                                <a ng-click="$ctrl.removeFromOrder(issueOrders)" style="cursor: pointer" style="cursor: pointer;"><i class="fa fa-trash" /></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row text-right" style="margin-right: 20px">
                                    <div ng-if="$ctrl.order.IssueOrders.length > 0" style="margin-bottom: 5px">
                                        <h4>Total (Vat incl.): R {{$ctrl.order.Total | number:2}}</h4>
                                    </div>
                                    <div ng-if="$ctrl.order.IssueOrders.length > 0" class="btn btn-success" ng-click="$ctrl.placeOrder()">
                                        Place an order
                                    </div>
                                </div>
                        </div>
                    </div>
                    <table class="container" cellspacing="0" width="100%">
                        <div class="panel panel-default row">
                            <div class="panel-heading">{{$ctrl.issueMessage}}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="mySelect">
                                            Show
                                            <select name="mySelect" id="mySelect"
                                                    class="form-control input-sm"
                                                    ng-change="$ctrl.updateQuotes()"
                                                    ng-options="option for option in $ctrl.pagination.pageSizeOptions track by option"
                                                    ng-model="$ctrl.pagination.pageSize"></select>
                                        </label>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <ul class="pagination" ng-model="$ctrl.page">
                                                <li ng-class="$ctrl.pagination.prevDisable" ng-click="$ctrl.pageTo(($ctrl.pagination.page > 1) ? ($ctrl.pagination.page - 1) : $ctrl.pagination.page)">
                                                    <a><i class="fa fa-angle-left "></i></a>
                                                </li>
                                                <li ng-repeat="n in $ctrl.pagination.pageOptions track by $index" ng-click="$ctrl.pageTo(n)" class="{{(n==$ctrl.pagination.page) ? 'waves-effect active': 'waves-effect'}}">
                                                    <a>{{n}}</a>
                                                </li>
                                                <li ng-class="$ctrl.pagination.nextDisable" ng-click="$ctrl.pageTo(($ctrl.pagination.page < $ctrl.pagination.numPages) ? ($ctrl.pagination.page + 1) : $ctrl.pagination.page)">
                                                    <a><i class="fa fa-angle-right"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <label class="text-left">
                                            Search:<input type="search" ng-model="$ctrl.search" ng-change="$ctrl.updateQuotes()" class="form-control input-sm" placeholder="" aria-controls="zctb">
                                        </label>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="panel-body">
                                <div ng-if="$ctrl.supplierQuotes.length < 1" class="row">
                                    <center><img class="text-center" style="border-radius: 150px; " width="100" src="/app/assets/img/load.gif" /></center>
                                </div>
                                <div class="row">
                                    <div style="background-color: white;" class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-3 card" ng-repeat="supplierQuote in $ctrl.supplierQuotes">
                                        <div style="margin:5px; border-radius: 5px; box-shadow: 5px 5px 5px rgba(68,68,68,1);">
                                            <img class="img-responsive" src="https://cdn.pastemagazine.com/www/system/images/photo_albums/comiccovergalleryapril16/large/cryhavoc-04-ryankelly.png?1384968217" />
                                            <div class="btn" style="background-color: rgb(7, 58, 101); position: absolute; left: 10px; top: 0px; color:white;">
                                                #{{supplierQuote.Issue.SeriesNumber}}
                                            </div>
                                            <div class="btn" style="background-color: rgb(7, 58, 101); position: absolute; left: 35%; transform: translate(-50%, 0); bottom: 20%; color:white;">
                                                {{(supplierQuote.Issue.Stock[0].AvailableQuantity == 0)?"Out of Stock":"Current Stock: "+supplierQuote.Issue.Stock[0].AvailableQuantity }}
                                            </div>
                                            <center>
                                                <div class="btn" style="background-color: rgba(36, 36, 36, 1); position: absolute; left: 50%; transform: translate(-50%, 0); width:85%; bottom: 80%; color:white;">
                                                    {{supplierQuote.Issue.Title}}
                                                </div>
                                            </center>
                                        
                                            <center>
                                                <div class="btn" style=" background-color: rgb(7, 58, 101); position: absolute; left: 50%; transform: translate(-50%, 0); width: 80%;bottom: 30%; color: white;">
                                                    <div class="row">

                                                        Cheapest Option Available
                                                    </div>
                                                    <div class="row">

                                                        {{supplierQuote.Cheapest.Supplier.Name}}: R{{supplierQuote.Cheapest.Price | number:2}}

                                                    </div>
                                                </div>
                                            </center>
                                        </div>

                                        <!--<div class="btn" style="background-color: rgb(7, 58, 101); position: absolute; left: 70%; transform: translate(-50%, 0); bottom: 35%; color:white;">
                                            R {{supplierQuote.Cheapest.Price}}
                                        </div>-->
                                        <div class="btn" style="background-color: rgb(7, 58, 101); position: absolute; left: 70%; transform: translate(-50%, 0); bottom: 20%; color:white;">
                                            R {{supplierQuote.Price |number:2}}
                                        </div>
                                        <!--<div class="btn" style="background-color: rgba(36, 36, 36, 0.5); position: absolute; left: 30%; transform: translate(-50%, 0); bottom: 5%; color:white;">
                                            <a ng-click="$ctrl.increaseQty(issueOrders)" style="cursor: pointer" style="cursor: pointer;">
                                                <i class="fa fa-chevron-up" />
                                            </a>
                                            <input class="form-horizontal form-inline" style="width:35px; height:auto" type="number" ng-change="$ctrl.validateQty(issueOrders)" ng-model="issueOrders.QuantityOrdered"></input>
                                            <a ng-click="$ctrl.decreaseQty(issueOrders)" style="cursor: pointer" style="cursor: pointer;">
                                                <i class="fa fa-chevron-down" />
                                            </a>
                                        </div>-->
                                            
                                        <div class="btn btn-success tooltip" ng-click="$ctrl.addToOrder(supplierQuote); $ctrl.showSnackbar()" style="background-color: rgba(31, 86, 10, 1); position: absolute; left: 50%; transform: translate(-50%, 0); bottom: 5%; color: white;">
                                            Add to Order
                                        </div>
                                        <div id="snackbar">Added to Order</div>
                                    </div>
                                </div>

                            </div>
                            </div>
                       
                    </table>
                    <div ng-if="$ctrl.supplierQuotes.length > 0" class="col-sm-12 text-center">
                        <div class="text-center">
                            <ul class="pagination" ng-model="$ctrl.page">
                                <li ng-class="$ctrl.pagination.prevDisable" ng-click="$ctrl.pageTo(($ctrl.pagination.page > 1) ? ($ctrl.pagination.page - 1) : $ctrl.pagination.page)">
                                    <a><i class="fa fa-angle-left "></i></a>
                                </li>
                                <li ng-repeat="n in $ctrl.pagination.pageOptions track by $index" ng-click="$ctrl.pageTo(n)" class="{{(n==$ctrl.pagination.page) ? 'waves-effect active': 'waves-effect'}}">
                                    <a>{{n}}</a>
                                </li>
                                <li ng-class="$ctrl.pagination.nextDisable" ng-click="$ctrl.pageTo(($ctrl.pagination.page < $ctrl.pagination.numPages) ? ($ctrl.pagination.page + 1) : $ctrl.pagination.page)">
                                    <a><i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


